In [1]:
from urllib.request import urlopen
  
# import json and pandas
import json
import pandas as pd

url = "https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json"
  
response = urlopen(url)
  
data_json = json.loads(response.read())
  
# print json response
water_df = pd.DataFrame(data_json)
print(water_df.head())

  water_pay respondent research_asst_name water_used_season  \
0        no  community    Haruna Mohammed        year_round
1        no  community     Haruna Mohmmed        year_round
2        no  community    Haruna Mohammed        year_round
3        no  community    Haruna Mohammed        year_round
4        no  community    Haruna Mohammed        year_round

  _bamboo_dataset_id _deleted_at water_point_condition     _xform_id_string  \
0                           None           functioning  _08_Water_points_CV
1                           None           functioning  _08_Water_points_CV
2                           None           functioning  _08_Water_points_CV
3                           None           functioning  _08_Water_points_CV
4                           None           functioning  _08_Water_points_CV

  other_point_1km                                 _attachments  ...  \
0              no  [north_ghana/attachments/1351696546452.jpg]  ...
1             yes  [north_ghana/attachments/1351701849971.jpg]  ...
2             yes  [north_ghana/attachments/1351702462336.jpg]  ...
3             yes  [north_ghana/attachments/1351702971561.jpg]  ...
4             yes  [north_ghana/attachments/1351703622326.jpg]  ...

  animal_point water_mechanism_plate water_lift_mechanism_type road_type  \
0          yes                   NaN                       NaN       NaN
1          yes                    no              manual_power    gravel
2          yes                    no              manual_power     paved
3          yes                    no              manual_power     paved
4          yes                    no              manual_power     paved

  water_mechanism_plate_units water_mechanism_plate_no water_not_functioning  \
0                         NaN                      NaN                   NaN
1                         NaN                      NaN                   NaN
2                         NaN                      NaN                   NaN
3                         NaN                      NaN                   NaN
4                         NaN                      NaN                   NaN

  water_source_type_other simserial subscriberid
0                     NaN       NaN          NaN
1                     NaN       NaN          NaN
2                     NaN       NaN          NaN
3                     NaN       NaN          NaN
4                     NaN       NaN          NaN

[5 rows x 48 columns]

In [2]:
water_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   water_pay                    712 non-null    object
 1   respondent                   712 non-null    object
 2   research_asst_name           712 non-null    object
 3   water_used_season            712 non-null    object
 4   _bamboo_dataset_id           712 non-null    object
 5   _deleted_at                  0 non-null      object
 6   water_point_condition        712 non-null    object
 7   _xform_id_string             712 non-null    object
 8   other_point_1km              712 non-null    object
 9   _attachments                 712 non-null    object
 10  communities_villages         712 non-null    object
 11  end                          712 non-null    object
 12  animal_number                528 non-null    object
 13  water_point_id               712 non-null    object
 14  start                        712 non-null    object
 15  water_connected              712 non-null    object
 16  water_manager_name           708 non-null    object
 17  _status                      712 non-null    object
 18  enum_id_1                    712 non-null    object
 19  water_lift_mechanism         712 non-null    object
 20  districts_divisions          712 non-null    object
 21  _uuid                        712 non-null    object
 22  grid                         712 non-null    object
 23  date                         712 non-null    object
 24  formhub/uuid                 712 non-null    object
 25  road_available               712 non-null    object
 26  water_functioning            712 non-null    object
 27  _submission_time             712 non-null    object
 28  signal                       712 non-null    object
 29  water_source_type            712 non-null    object
 30  _geolocation                 712 non-null    object
 31  water_point_image            712 non-null    object
 32  water_point_geocode          709 non-null    object
 33  deviceid                     712 non-null    object
 34  locations_wards              712 non-null    object
 35  water_manager                712 non-null    object
 36  water_developer              712 non-null    object
 37  _id                          712 non-null    int64
 38  animal_point                 712 non-null    object
 39  water_mechanism_plate        649 non-null    object
 40  water_lift_mechanism_type    649 non-null    object
 41  road_type                    334 non-null    object
 42  water_mechanism_plate_units  43 non-null     object
 43  water_mechanism_plate_no     43 non-null     object
 44  water_not_functioning        87 non-null     object
 45  water_source_type_other      3 non-null      object
 46  simserial                    5 non-null      object
 47  subscriberid                 5 non-null      object
dtypes: int64(1), object(47)
memory usage: 267.1+ KB

In [3]:
water_df['water_functioning'].count()

712

In [4]:
water_df['communities_villages'].groupby(water_df['water_functioning']).describe()['count']

water_functioning
na_dn      2
no        87
yes      623
Name: count, dtype: object

In [5]:
pd.set_option('display.max_rows', 10)
new_water = pd.DataFrame(water_df[['communities_villages', 'water_functioning']].copy())
new_water['water_functioning'] == 'no'

0      False
1      False
2      False
3      False
4      False
       ...
707    False
708    False
709    False
710    False
711    False
Name: water_functioning, Length: 712, dtype: bool

In [6]:
#1. The number of water points that are functional
wf = pd.DataFrame(new_water.water_functioning.value_counts())
print ('The number of water points that are functional:', wf['water_functioning'][0])

The number of water points that are functional: 623

In [7]:
#2. The number of water points per community 
pd.set_option('display.max_rows', None)
rank = new_water.groupby('communities_villages')
rank1 = rank.water_functioning.count()
df = pd.DataFrame(rank1)
df.rename(columns={'communities_villages': 'Community', 'water_functioning': 'No. of Water Points'}, inplace=True)
print('The number of water points per community',df)

The number of water points per community                       No. of Water Points
communities_villages
Abanyeri                                4
Akpari-yeri                             3
Alavanyo                                3
Arigu                                  12
Badomsa                                27
Bandem                                  7
Banyangsa                              10
Bechinsa                               26
Chanpolinsa                             4
Chansa                                  9
Chondema                                4
Dibisi                                  2
Dorinsa                                17
Fiisa                                   5
Gaadem                                  2
Garigu                                  1
Gbaarigu                                5
Gbima                                   3
Gumaryili                               1
Guuta                                  32
Guuta-Nasa                             11
Jaata                                   8
Jagsa                                  38
Jiniensa                                1
Jiningsa                                7
Jiningsa-Yipaala                        3
Jiriwiensa                              8
Kaasa                                  25
Kalaasa                                 1
Kanbangsa                               8
Kanwaasa                                9
Kom                                     6
Kpatarigu                              51
Kpikpaluk                               3
Kubore                                 18
Kulbugu                                11
Kunkwah                                 3
Kurugu                                  9
Loagri_1_                              18
Logvasgsa                               4
Longsa                                  9
Luisa                                   8
Mwalorinsa                              8
Nabulugu                               31
Namgurima                               8
Nawaasa                                 6
Nayoku                                 35
Nyandema                                3
Nyankpiensa                             8
Piisa                                   5
Selinvoya                              13
Sikabsa                                 3
Soo                                     7
Suik                                    1
Tankangsa                               6
Tantala                                22
Tuisa                                   4
Vundema                                 5
Zangu-Vuga                             13
Zanwara                                10
Zogsa                                   6
Zua                                    28
Zuedema                                18
Zukpeni                                 6
Zundem                                 30

In [8]:
#3. Rank each Community by the percentage of broken Water points
pd.set_option('display.max_rows', None)
newdf = new_water[(new_water.water_functioning=='no')]
newdf = newdf.groupby('communities_villages').count()
newdf = pd.DataFrame(newdf)
newdf.rename(columns={'communities_villages': 'Community', 'water_functioning': 'Broken Water Pipes'}, inplace=True)
newdf.sort_values('Broken Water Pipes', ascending=False)

                      Broken Water Pipes
communities_villages
Tantala                                6
Nayoku                                 6
Jagsa                                  6
Arigu                                  6
Kubore                                 5
Kpatarigu                              5
Kurugu                                 4
Zua                                    4
Zanwara                                4
Namgurima                              4
Nabulugu                               4
Loagri_1_                              4
Zukpeni                                4
Gbaarigu                               3
Banyangsa                              3
Bandem                                 3
Guuta                                  2
Longsa                                 2
Soo                                    2
Zangu-Vuga                             2
Kulbugu                                1
Kanwaasa                               1
Gbima                                  1
Dorinsa                                1
Selinvoya                              1
Chanpolinsa                            1
Zogsa                                  1
Alavanyo                               1